.h1{
    top:50%;
    left: 50%;
    text-align: center;
    justify-content: center;
    color:red
}
table{
    border-collapse: separate;
    border-spacing: 6px;
}
table > tbody >tr >td , table > thead >tr >th {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid grey;
    border-radius: 3px;
}