/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px ;
    margin: 0px ;
}
@media (min-width: 992px){
    .signUp {
        --bs-modal-width: 570px !important;
    }
    .signin {
        --bs-modal-width: 400px !important;
    }
}
@media only screen and (max-width: 600px){
    .dreamHide{
        display: none;
    }
}
::-webkit-scrollbar {
    width: 0.6em;
    height: 0.7em;
    border-left: 1px solid #ddd !important;
    background: #e8e8e8;
}

::-webkit-scrollbar-thumb {
    background:rgb(105, 105, 255);
    border-radius: 8px;
}
.p-dropdown{
    width: 100% !important;
}
.link{
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 37, 247);
}
.modal-cus {
    background-color: #2925254f;
    box-shadow: #0072c4;
}
.sup{
    color: red;
    font-size: 16px;
}
.p-calendar {
    width: 100% !important;
    height: 38px !important;
}

.p-button {
    color: white !important;
    background: rgb(172, 11, 247) !important;
    border-right: 1px solid rgb(0, 24, 37) !important;
}

.p-datepicker table td {
    padding: 0rem !important;
}

.p-datepicker table td>span.p-highlight {
    color: white !important;
    background: red !important;
}

.p-datepicker .p-datepicker-header {
    padding: 0rem !important;
}

.p-datepicker table td>span {
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: 0% !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title {
    line-height: 1rem !important;
    color: black;
    background-color: #ffd679;
}

.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
    background: #ffd679 !important;
}
.p-float-label input, .p-dropdown{
    height: 40px !important;
}
.city .p-dropdown .p-dropdown-trigger{
    color: transparent !important;
}
.drop .p-button.p-button-icon-only{
    height: 38px !important;
  }
  .borderRed{
    border: 1px solid red !important;
    border-radius: 6px;
  }
  .drop .p-calendar-w-btn .p-inputtext{
    height: 38px !important;
  }
  .drop1 .p-button.p-button-icon-only{
    height: 40px !important;
  }
  i{
    cursor: pointer;
  }
  .red{
    color: red;
  }
  .p-sidebar {
    background: bisque !important;
    color: black !important;
  }
 .p-overlaypanel .p-overlaypanel-content {
    padding: 10px 30px !important;
}
.p-paginator {
    background: aliceblue !important;
    color: black !important;
    padding: 0px !important;
    border-radius: 0px !important;
    margin-top: -7px !important;
}
.paginator{
    float: right;
}