<div class="head col-lg-12">
    <div class="ps-2 mt-1"><img src="assets\Images\Dream-11-Icon-PNG-Image.jpg" height="40" width="50" /></div>
    <div class="dreamHide">
        <h1>MEAN Stack Project</h1>
    </div>
    <div class="pe-2 mt-1">
        <button class="btn btn-warning" style="margin-right: 20px;" (click)="signUp()">Sign Up</button>
        <button class="btn btn-success" (click)="signIn()">Sign In</button>
    </div>
</div>
<div class="px-4">
    <!-- <div><img src="assets\Images\dream11-team.png" class="responsive-image" /></div> -->
    <div class="mt-0">
        <h3 class="text-center">It's easy to start playing on <span class="text-danger"><b>Dream11</b></span></h3>
        <h5 class="text-center mt-5"><span style="background-color: rgb(187, 230, 250);">Play Fantasy Cricket on Dream11
                and win big!</span></h5>
        <p class="mt-5">Enter into the thrilling world of Fantasy sports, a strategy-based online sports game wherein
            you can create a virtual team of real players
            playing in real life matches. Create your team to win points based on all the players' performance in a live
            game.Ready to challenge other
            sports fans? Watch this video to learn how to play on Dream11 and get started now. Compete with sports fans,
            make a perfect Dream11 team
            with the best combination of players as per your knowledge and skill and win big.</p>
        <div><img src="assets\Images\dream11_review.png" class="responsive-image mt-3" /></div>
    </div>
</div>
<div class="text-white mt-5" style="background-color: #373737;">
    <div class="d-flex justify-content-around">
        <div class="">
            <img src="assets\Images\dream11_footer.png" class="responsive-image" />
        </div>
        <div class="mt-5">
            <ul>
                <li>Download App</li>
                <li>How to Play</li>
                <li>Invite Friends</li>
                <li>Fantacy Lists</li>
                <li>Fantacy Football</li>
                <li>Fantacy Cricket App</li>
            </ul>
        </div>
        <div class="mt-3">
            <img src="assets\Images\footer_Image.png" class="responsive-image" />
        </div>
    </div>
    <hr class="mx-5" />
    <div class="text-center mt-3">
        <h5><b>CORPORATE OFFICE</b></h5>
        <h6>ONE BKC, Tower A, 12th & 14th Floor, Unit 1201 & 1202 and 1401 & 1402, Plot C-66, G Block, Bandra Kurla
            Complex, Bandra (East), Mumbai 400 051</h6>
    </div>
    <div class="d-flex justify-content-center text-bg-dark mt-5 py-2">
        <h5>Privacy Policy</h5>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <h5>Terms & Conditions</h5>
    </div>
</div>

<div>
    <!-- The Modal -->
    <div class="modal modal-cus shadow" tabindex="-1" role="dialog" [ngStyle]="{'display':signupFlag}">
        <div class="signUp modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header py-0 regCSS">
                    <h4>Registration Page</h4>
                    <button type="button" class="btnClose" (click)="closeSignup()">X</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="text-center">
                        <form [formGroup]="signupForm">
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <span class="p-float-label">
                                        <input pInputText id="username" formControlName="name"
                                            [ngClass]="{'borderRed': signupSubm && signupForm.get('name')?.invalid}" />
                                        <label htmlFor="username">Name<b class="sup">*</b></label>
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <span class="p-float-label">
                                        <input pInputText id="username" formControlName="teamName" />
                                        <label htmlFor="username">Team Name</label>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-6">
                                    <span class="p-float-label">
                                        <input type="email" pInputText id="username" formControlName="email"
                                            [ngClass]="{'borderRed': signupSubm && signupForm.get('email')?.invalid}" />
                                        <label htmlFor="username">Email<b class="sup">*</b></label>
                                        <div class="red" *ngIf="email?.errors?.['required'] && signupSubm">Email is
                                            required.</div>
                                        <div class="red" *ngIf="email?.errors?.['email'] && signupSubm">Invalid email
                                            format.</div>
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <span class="p-float-label">
                                        <input type="text" pInputText id="username" formControlName="mobileNo"
                                            appNumbersOnly maxlength="10"
                                            [ngClass]="{'borderRed': signupSubm && signupForm.get('mobileNo')?.invalid}" />
                                        <label htmlFor="username">Mobile No.<b class="sup">*</b></label>
                                        <div class="red" *ngIf="mobileNo?.errors?.['required'] && signupSubm">Mobile
                                            number is required.</div>
                                        <div class="red"
                                            *ngIf="mobileNo?.errors?.['invalidMobileNumber'] && signupSubm">Enter valid
                                            mobile number.</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-6">
                                    <span class="p-float-label">
                                        <input type="text" pInputText id="username" formControlName="password"
                                            [ngClass]="{'borderRed': signupSubm && signupForm.get('password')?.invalid}" />
                                        <label htmlFor="username">Password<b class="sup">*</b></label>
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <span class="p-float-label">
                                        <input type="text" pInputText id="username" formControlName="cPassword"
                                            [ngClass]="{'borderRed': signupSubm && signupForm.get('cPassword')?.invalid || signupForm.errors?.['passwordMismatch']}" />
                                        <label htmlFor="username">Confirm Password<b class="sup">*</b></label>
                                        <div class="red" *ngIf="signupForm.errors?.['passwordMismatch']">Confirm
                                            Password not matched with Password.</div>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-6">
                                    <span class="p-float-label"
                                        [ngClass]="{'borderRed': signupSubm && signupForm.get('dob')?.invalid}">
                                        <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true"
                                            dateFormat="dd-mm-yy" formControlName="dob" class="drop"></p-calendar>
                                        <label htmlFor="username">DOB<b class="sup">*</b></label>
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <span class="p-float-label">
                                        <input type="text" pInputText id="username" formControlName="city" />
                                        <label htmlFor="username">city</label>
                                    </span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-6 text-start">
                                    <p class="gen">Gender</p>
                                    <input class="form-check-input" type="radio" name="gender" id="gender"
                                        formControlName="gender" value="male">&nbsp;male
                                    <input class="form-check-input" type="radio" name="gender" id="gender"
                                        formControlName="gender" value="female">&nbsp;female
                                </div>
                                <div class="col-lg-6">
                                    <span class="p-float-label"
                                        [ngClass]="{'borderRed': signupSubm && signupForm.get('state')?.invalid}">
                                        <p-autoComplete class="drop1" formControlName="state" [dropdown]="true"
                                            [suggestions]="countries" (completeMethod)="filterCountry($event)"
                                            field="name"></p-autoComplete>
                                        <label htmlFor="usernam">State<b class="sup">*</b></label>
                                    </span>
                                </div>
                            </div>
                            <div class="mt-2 text-start d-flex">
                                <input class="form-check-input" type="checkbox" formControlName="isAgree"
                                    [ngClass]="{'borderRed': signupSubm && signupForm.get('isAgree')?.invalid}" /> &nbsp;&nbsp;Iam
                                agree with the Terms &
                                Conditions<b class="sup">*</b>
                                <input class="form-check-input" style="margin-left: 5vw;" type="checkbox" formControlName="isAdmin">&nbsp;&nbsp;isAdmin
                            </div>
                        </form>
                    </div>
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-outline-danger mx-2" (click)="signupClear()">Clear</button>
                        <button type="submit" class="btn btn-primary" (click)="submitSignupForm()">Sign Up</button>
                    </div>
                    <p class="text-center mt-3">Already i have an account! <b class="link" (click)="footSignin()">
                            Login</b></p>
                </div>

                <!-- Modal Footer -->
                <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div> -->

            </div>
        </div>
    </div>
    <div class="modal modal-cus shadow" tabindex="-1" role="dialog" [ngStyle]="{'display':signinFlag}">
        <div class="signin modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header py-0 regCSS">
                    <h4 class="">Login Page</h4>
                    <button type="button" class="btnClose" (click)="closeSignin()">X</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form [formGroup]="signinForm">
                        <div class="text-center d-flex">
                            <h6 style="width: 150px;">Email<b class="sup">*</b></h6>
                            <input type="text" class="form-control" placeholder="Enter Email or Mobile No."
                                formControlName="loginemail">
                        </div>
                        <div class="text-center d-flex mt-2">
                            <h6 style="width: 150px;">Password<b class="sup">*</b></h6>
                            <input type="text" class="form-control" placeholder="Enter Password"
                                formControlName="loginpassword">
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-outline-danger mx-2" data-bs-dismiss="modal"
                            (click)="loginClear()">Clear</button>
                        <button type="button" class="btn btn-primary" (click)="login()">Sign In</button>
                    </div>
                    <p class="text-center mt-3">I don't have an account! <b class="link" (click)="footSignup()"> Sign
                            Up</b></p>
                </div>
            </div>
        </div>
    </div>
</div>